.nunito-regular {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nunito-medium {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.nunito-semibold {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.nunito-bold {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    font-size: 17px;
    --white20: #FFFFFF;
    --white10: #A5A3A5;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #251F24;
    color: var(--white20);
    font-family: "Nunito", sans-serif;
    margin: 0;
}

a {
    color: #157EFB;
}

header {
    margin-block-start: 20px;
    padding: 20px;
    font-size: 14px;
    color: var(--white20);
}

header li {
    color: var(--white10);
    margin-block-end: 16px;
}

header a {
    color: var(--white10);
    font-weight: normal;
    line-height: 24px;
    text-decoration: none;
}

header a:hover {
    color: var(--white20);
}

summary {
    font-weight: bold;
    line-height: 24px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 16px;
}

h1 + p {
    color: var(--white10);
    margin-block-end: 80px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    margin-block: 40px;
}

h3 {
    font-size: 32px; 
    font-weight: 600;
}

h3 ~ p {
    color: var(--white10);
}

hr {
    margin-block: 40px;
    border-color: #616161;
}

.section-content img {
    margin-block-start: 40px;
    margin-block-end: 16px;
    max-inline-size: 100%;
    display: block;
}

pre {
    background: #3A3539;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    padding: 40px;
    overflow: auto;
    border: 8px solid #5551FF;
    border-radius: 8px;
    box-shadow: -10px 10px 0px #ABAAF6;
    margin-block-end: 40px;
}

.hero {
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    block-size: 50px;
}

.section-content blockquote {
    background: #3A3539;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    border-radius: 8px;
    margin-block-start: 80px;
    margin-block-end: 63px;
    margin-inline: 0;
    padding: 24px;
}

blockquote span::before {
    content: '- ';
}

.section-content {
    counter-reset: titlelist;
}

.section-content h3 {
    counter-increment: titlelist;
}

.section-content h3::before {
    content: counter(titlelist, decimal) '. ';
}

.main hr {
    display: none;
}

.wrapper {
    max-inline-size: 636px;
    margin: auto;
}

.main-content {
    padding: 20px;
}

ol li {
    color: var(--white10);
    line-height: 24px;
}

ul li {
    color: var(--white10);
    margin-block-end: 16px;
    line-height: 24px;
}

.section-content + p {
    margin-block-start: 40px;
}

.section-content {
    margin-block-start: 150px;
}

.section-content:first-of-type {
    margin: 0;
}

.slider-container {
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video {
    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin-block-start: 16px;
}

.slider-bullet {
    display: inline-block;
    inline-size: 16px;
    block-size: 16px;
    border-radius: 50%;
    background: white;
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--white20);
    box-sizing: border-box;
    background: #251F24;
    color: var(--white20);
    font-size: 16px;
    border-radius: 8px;
    padding-block: 12px;
    padding-inline: 16px;
    display: block;
    margin-block-end: 24px;
}

.form input::placeholder {
    color: var(--white10);
}

.form input[type="submit"] {
    background: #157EFB;
    border: none;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (min-width:1366px) {
    h1 {
        font-size: 64px;
        font-weight: bold;
        margin-block-start: 64px;
        margin-block-end: 16px;
    }
    
    .hero {
        block-size: 350px;
    }
    
    .header {
        position: sticky;
        inset-block-start: 0;
    }
    
    .header-content {
        position: relative;
        inset-block-start: 64px;
        inset-inline-start: -64px;
    }
    
    header {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: -188px;
        inline-size: 188px;
    }
}

.bottom-background {
    background: #FFFFFF;
    height: 174px;
}

.bottom-background blockquote {
    color: #251F24;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.section-content:last-child h2 {
    font-size: 24px;
    font-weight: 400;
}